extends navbar

block content
  header
    div(id='index-header')
      div(class='flex-column')
        div(class='flex')
          img(class='hover-pointer hamburger-menu icon-margin-top', src='assets/hamburgermenu.svg', alt='menu', onclick='lib.loadNavbar();')
          h1 RecipeShare
          img(class='chef-hat icon-margin-top', src='assets/chefhat.png', alt='Chef Hat')
        div
          p(class='web-description') A place to create, share, and sell your recipes
        section(class='hamburger-margin section-spacing')
          h2(style='font-size:40px;')
            strong #{title}
          p(style='font-size:30px;') This is a website for creating, sharing, and selling your favorite recipes. 
            br
            | You can visit top rated recipes as well as comment and make ratings of your own.
      div(class='search-login-register-links')
        img(class='search-icon item', src='assets/search.png', alt='Search Icon')
        a(class='item', href='/signin') Login
        a(class='item', href='/signup') Register
    
      
  