extends navbar

block content
  header
    div(id='index-header')
      div(class='flex-column')
        div(class='flex')
          img(class='hover-pointer hamburger-menu icon-margin-top', src='assets/hamburgermenu.svg', alt='menu', onclick='lib.loadNavbar();')
          h1 RecipeShare
          img(class='chef-hat icon-margin-top', src='assets/chefhat.png', alt='Chef Hat')
        div
          p(class='web-description') A place to create, share, and sell your recipes
          section(class='hamburger-margin section-spacing')
            //- Contact form
            h1 Contact Form
            form(action='', method='POST', onsubmit='return lib.submitContactForm(this);')
              input(type='text', name='name', placeholder='Name', required)
              input(type='email', name='email', placeholder='Email', required)
              textarea(name='message', placeholder='Type your message...', required)
              button(class='signup-button hover-darkgray hover-pointer', type='submit') Send
      div(class='search-login-register-links')
        img(class='search-icon item' src='assets/search.png' alt='Search Icon')
        a(class='item', href='/signin') Login
        a(class='item', href='/signup', style='margin-right:50px;font-size:50px;') Register