extends navbar

block content
  header
    div(id='index-header')
      div(class='flex-column')
        div(class='flex')
          img(class='hover-pointer hamburger-menu icon-margin-top', src='assets/hamburgermenu.svg', alt='menu', onclick='lib.loadNavbar();')
          h1 RecipeShare
          img(class='chef-hat icon-margin-top', src='assets/chefhat.png', alt='Chef Hat')
        div
          p(class='web-description') A place to create, share, and sell your recipes
          section(class='hamburger-margin section-spacing')
            //- Feedback form
            h1 Feedback (Anonymous)
            form(action='', method='POST', onsubmit='return lib.submitFeedbackForm(this);')
              textarea(name='message', placeholder='Type your message...', required)
              button(class='signup-button hover-darkgray hover-pointer', type='submit') Send
      div(class='search-login-register-links')
        img(class='search-icon item', src='assets/search.png', alt='Search Icon')
        a(class='item', href='/signin') Login
        a(class='item', href='/signup') Register