extends navbar

block content
  header
    div(style='display:flex;width:2120px;justify-content:space-between;')
      div(style='display:flex;flex-direction:column;')
        div(style='display:flex;')
          img(class='hover-pointer', src='assets/hamburgermenu.svg', alt='menu', height=105, width=99, onclick='loadNavbar()')
          h1 #{title}
          img(src='assets/chefhat.png', alt='Chef Hat', height=88, width=85)
        div
          p(style='margin-left:102px;opacity:0.5;font-size:40px;') A place to create, share, and sell your recipes
      div(style='display:flex;')
        img(src='assets/search.png', style='margin-right:50px;' alt='Search Icon', height=70, width=73)
        a(href='/signin', style='margin-right:50px;font-size:50px;') Login
        a(href='/signup', style='margin-right:50px;font-size:50px;') Register
  
