extends navbar

block content
  header
    div(id='index-header')
      div(class='flex-column')
        div(class='flex')
          img(class='hover-pointer hamburger-menu icon-margin-top', src='assets/hamburgermenu.svg', alt='menu', onclick='lib.loadNavbar();')
          h1 RecipeShare
          img(class='chef-hat icon-margin-top', src='assets/chefhat.png', alt='Chef Hat')
        div
          p(class='web-description') A place to create, share, and sell your recipes
      div(class='search-login-register-links')
        img(class='search-icon item', src='assets/search.png', alt='Search Icon')
        a(class='item', href='/signin') Login
        a(class='item', href='/signup') Register
  div(class='gallery-slider')
    button(id='left-arrow')
    div(class='gallery-container')
      div(class='gallery')
    button(id='right-arrow')
    if filenames.length
      script.
        let filenames = `!{filenames}`.split(',');
        let urls = `!{recipeUrls}`.split(',');
        lib.gallery(filenames, urls);
    else
      script.
        document.getElementById('left-arrow').style.display = 'none';
        document.getElementById('right-arrow').style.display = 'none';

