doctype html
html(lang='en-US')
  head
    title= title
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='description', content='Site for uploading and sharing your favorite recipes')
    meta(name='keywords', content='recipe, share, social, chat, cooking, chef')
    meta(name='author', content='DKK')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/css/style.css')
    link(rel='preconnect', href='https://fonts.gstatic.com')
    link(href='https://fonts.googleapis.com/css2?family=Quicksand&display=swap', rel='stylesheet')
    script(src='/javascripts/hamburgerMenu.js')
    script(src='/javascripts/contact.js')
    script(src='/javascripts/feedback.js')
    script(src='/javascripts/addInput.js')
    script(src='/javascripts/removeInput.js')
  body
    block navbar
    block content