extends layout

block navbar
  nav(id='main-navbar')
    ul
      li
        a(href='/') Home
      li
        a(href="#") Search
      if locals.currentUser
        li
          a(href=`/profile/${locals.currentUser.username}`) Profile
      li
        a(href='/about') About
      li
        a(href='/contact') Contact
      li
        a(href='/feedback') Feedback
      if locals.currentUser
        li
          a(href='/signout') Sign Out