extends navbar

block content
  div(class='flex-column nav-margin')
    h1 #{locals.currentUser.username}'s Recipes
    a(href=`/recipe/create`)
      button(class='step-button hover-pointer hover-darkgray') Add New Recipe
  div(class='gallery-slider')
    button(id='left-arrow')
    div(class='gallery-container')
      div(class='gallery')
    button(id='right-arrow')
  if filenames.length
    script.
      let filenames = `!{filenames}`.split(',');
      let urls = `!{recipeUrls}`.split(',');
      lib.gallery(filenames, urls);
  else
    script.
      document.getElementById('left-arrow').style.display = 'none';
      document.getElementById('right-arrow').style.display = 'none';
    


    
    
