extends navbar

block content
  div(class='nav-margin')
    h1(class='flex') Create Recipe
    form(class='flex-column', id='recipeCreateForm', action="", method='POST', enctype='multipart/form-data', style='width:50%;')
      label(for='file', style='margin-top:20px;') 
        h2 Upload Image
      input(type='file', name='file', style='margin-top:0;padding:3px;')
      input(type="text", placeholder="Title", name="title", required) 
      textarea(name="description", placeholder="Enter Recipe Description", required)
      fieldset
        legend
          h2(style='margin-top:10px;') Ingredients
        button(class='step-button hover-pointer hover-darkgray', type='button', onclick=`lib.addInputToField('ingredients', 'Ingredient')`) Add Ingredient
        button(class='step-button hover-pointer hover-darkgray', type='button', onclick=`lib.removeInputFromField('ingredients')`) Remove Ingredient
        ul(id='ingredients')
      fieldset
        legend
          h2(style='margin-top:10px;') Instructions
        button(class='step-button hover-pointer hover-darkgray', type='button', onclick=`lib.addInputToField('instructions', 'Step')`) Add Step
        button(class='step-button hover-pointer hover-darkgray', type='button', onclick=`lib.removeInputFromField('instructions')`) Remove Step
        ol(id='instructions')
        hr(class='line-break')
      button(class='sign-button hover-pointer hover-darkgray', style='width:100%;margin-bottom:20px;') Submit
    if errors
      ul
        for error in errors
          li!= error.msg