extends navbar

block content
  h1(style='display:flex;padding-left:100px;') Create Recipe
  form(id='recipeCreateForm', action="", method='POST', enctype='multipart/form-data', style='display:flex;flex-direction:column;width:50%;padding-left:100px;')
    label(for='file') Choose File
    input(type='file', name='file')
    input(type="text", placeholder="Title", name="title", required) 
    textarea(name="description", placeholder="Enter Recipe Description", required)
    fieldset
      legend Ingredients
      button(type='button', onclick=`addInputToField('ingredients', 'Ingredient')`) Add Ingredient
      button(type='button', onclick=`removeInputFromField('ingredients')`) Remove Ingredient
      ul(id='ingredients')
    fieldset
      legend Instructions
      button(type='button', onclick=`addInputToField('instructions', 'Step')`) Add Step
      button(type='button', onclick=`removeInputFromField('instructions')`) Remove Step
      ol(id='instructions')
    button Submit
  if errors
    ul
      for error in errors
        li!= error.msg