@import 'variables';

.gallery-slider {
  display: flex;
  align-items: center;
  margin-left: $nav-margin + 250px; 
}

#left-arrow { 
  background: url(../assets/arrow.svg) no-repeat;
  transform: scale(-3, 3);
  width: $arrow-size;
  height: $arrow-size;
  margin-top: $arrow-size;
  margin-right: $arrow-size;
  &:hover {
    cursor: pointer;
  }
}

#right-arrow {
  background: url(../assets/arrow.svg) no-repeat;
  transform: scale(3, 3);
  width: $arrow-size;
  height: $arrow-size;
  margin-top: $arrow-size;
  margin-left: $arrow-size;
  &:hover {
    cursor: pointer;
  }
}

.gallery-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: $gallery-cols * ($gallery-div-size + $grid-gap) - $grid-gap;
  height: $gallery-rows * ($gallery-div-size + $grid-gap) - $grid-gap;;
  overflow-x: hidden;
}

.gallery {
  display: grid;
  position: absolute;
  width: 100%;
  grid-template-columns: repeat(auto-fill, minmax($gallery-div-size, 1fr));
  grid-template-rows: repeat($gallery-rows, 1fr);
  grid-auto-flow: column;
  grid-auto-columns: minmax($gallery-div-size, 1fr);
  gap: $grid-gap;
  left: 0;
}

.gallery-img {
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: $gallery-img-size;
    height: $gallery-img-size;
    border-radius: 100px;
  }
}

