.hamburger-menu {
  width: $hamburger-menu-width;
  height: 99px;
}

.search-icon {
  width: 73px;
  height: 70px;
}

.chef-hat {
  width: 85px;
  height: 88px;
}

.icon-margin-top {
  margin-top: 10px;
}